/* redux global styles */

.redux-container {
    background: #fff;
    border-color: #e1e1e1;
    box-shadow: none;
}

.redux-container .redux-main {
    background: #fff;
    box-shadow: none;
    border-color: #e1e1e1;
}

.redux-container ::-webkit-scrollbar,
.select2-results::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background: #e1e1e1;
}
.redux-container ::-webkit-scrollbar-thumb,
.select2-results::-webkit-scrollbar-thumb {
    background: #222;
}

/* notices */
.redux-container .notice-red, 
.redux-container .redux-field-errors {
    color: #c62928;
    text-shadow:  none;
    font-weight:  400;
    background: #ffe5e5;
}

.redux-container .notice-yellow {
    background: #fff;
    color: #c62928;
    text-shadow: none;
}

.redux-container .redux-save-warn strong,
.redux-container .redux-field-warnings strong,
.redux-container .redux-field-errors strong,
.redux-container .notice-green strong {
    font-weight:  400;
}
.redux-container .redux-field-errors, 
.redux-container .redux-field-warnings, 
.redux-container .redux-save-warn,
.redux-container .notice-green {
	text-shadow: none;
	font-size: 14px;
	padding-left: 20px;
}

.redux-container .notice-green {
	color: #468847;
	background-color: #ebf6eb;
}

/* header section */
.admin-color-fresh #redux-header, 
.wp-customizer #redux-header {
    border-color: #e1e1e1;
    background: #2799d5;
}

.redux-container #redux-header .display_header {
    margin: 10px 10px;
}

.redux-container #redux-header .display_header h2 {
    font-size: 1.7em;
}

.admin-color-fresh #redux-header .display_header span, .wp-customizer #redux-header .display_header span {
	color: #fff;
}

/* info panel */

.redux-container #info_bar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: none;
    border-color: #e1e1e1;
}

.etheme-purchase-code {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-top: -3px;
    margin-left: 12px;
}

.redux-container .expand_options {
    display: none;
}

.redux-container .redux-action_bar {
    margin-left: auto;
}

.redux-container .redux-action_bar .spinner {
    background: no-repeat;
    border: 1px solid #e1e1e1;
    border-left-color: #888;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-top: 8px;
    animation: rotate .3s infinite linear;
}

/* wp buttons */
.wp-core-ui .redux-action_bar .button, .wp-core-ui .redux-action_bar .button-primary {
    border-radius: 0;
}

/* sidebar */

.redux-sidebar .redux-group-menu li a {
    font-weight: 400;
    color: #555;
    padding: 13px 4px 13px 14px;
    text-shadow: none;
    border-color: #e1e1e1;
}

.redux-sidebar .redux-group-menu li a:hover {
    background: #fcfcfc;
    color: #888;
}

.redux-sidebar .redux-group-tab-link-a i {
	transition: inherit;
}

.redux-sidebar .redux-group-tab-link-a .extraIconSubsections i {
    font-family: 'dashicons';
    font-size: 1.7em;
}

.redux-sidebar .redux-group-tab-link-a .extraIconSubsections i:before {
    content: "\f347";
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active a, 
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild a, 
.wp-customizer .redux-sidebar .redux-group-menu li.active a, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild a {
    color: #2699d4;
}

/* sub menus */

.redux-sidebar ul .subsection {
    border-top: 1px solid #e1e1e1;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li, .admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li {
	border-bottom: 1px solid #e1e1e1;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
	text-shadow: none;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
    background: #fff;
    color: #888;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections a {
    background: #fcfcfc;
    color: #2699d4;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active a .extraIconSubsections, .admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild a .extraIconSubsections, .wp-customizer .redux-sidebar .redux-group-menu li.active a .extraIconSubsections, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild a .extraIconSubsections {
    display: inline-block;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild a .extraIconSubsections i:before, .wp-customizer .redux-sidebar .redux-group-menu li.active a .extraIconSubsections i:before, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild a .extraIconSubsections i:before {
    content: '\f343';
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a:after, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections a:after {
    border: none;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a:after, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections a:after {
    border-right-color: #2699d4;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a {
    background: #e1e1e1;
    color: #555;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover, .admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover {
    color: #888;
    background: #f7f7f7;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li.active a:hover, .admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a:hover, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li.active a:hover, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a:hover {
    color: #2699d4;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a {
    background: #fff;
    color: #888;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.hasSubSections ul.subsection li a, .wp-customizer .redux-sidebar .redux-group-menu li.hasSubSections ul.subsection li a {
	padding-left: 39px;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
    text-shadow: none;
    background: #f7f7f7;
    color: #555;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
    background: #fafafa;
    color: #2699d4;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a:after {
    border-right: none;
}

/* et-button */

.et-button {
    position: relative;
    padding: 9px 20px;
    min-height: unset;
    display:  inline-block;
    height:  auto;
    background:  #222;
    color:  #fff;
    text-transform:  uppercase;
    border: 1px solid #222;
    cursor:  pointer;
    transition:  all .2s ease-in-out;
    text-decoration: none;
    font-size:  12px;
    box-shadow: none;
}

.et-button-grey,
.et-button-grey:hover {
    background-color: #f7f7f7;
    border-color: #e1e1e1;
    color: #222;
}

.et-button-green,
.et-button-green:hover {
    background: #2e7d32;
    border-color: #2e7d32;
}

.et-button-active,
.et-button-active:hover {
	background-color: #c62828;
	border-color: #c62828;
}

.et-button + .et-button {
    margin-left: 5px;
}

.et-button:hover,
.et-button:focus,
.et-button:active,
.et-button:hover:focus {
    opacity:  .9;
    color:  #fff;
    outline: none;
}

.et-button-grey:hover,
.et-button-grey:focus,
.et-button-grey:active,
.et-button-grey:hover:focus {
    color: #222;
}

/* fields of rows */

.redux-container .redux_field_th {
    font-weight: normal;
}

/* elements */

/* select */

select#demo_data_style {
    -webkit-appearance: none;
    height: auto;
    border-radius: 0;
    padding: 2px 20px 3px 5px;
    background: none;
    box-shadow: none;
    border-color: #e1e1e1;
    vertical-align: unset;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTk5LjEsMjUuM2MtMS4xLTEuMS0yLjgtMS4xLTQuMSwwTDUwLDY4LjdMNSwyNS4zYy0xLjEtMS4xLTIuOC0xLjEtNC4xLDBDMC4zLDI1LjgsMCwyNi42LDAsMjcuM2MwLDAuOCwwLjMsMS41LDAuOCwyLjFsNDcsNDUuNGMwLjQsMC40LDEsMC44LDIsMC44YzAuNiwwLDEuMi0wLjIsMS44LTAuNmwwLjEtMC4xbDQ3LjEtNDUuNWMwLjYtMC41LDEtMS4zLDEtMi4xQzk5LjksMjYuNiw5OS42LDI1LjgsOTkuMSwyNS4zeiIvPjwvc3ZnPg==);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 50%;
}

.redux-container .redux-field .select2-choice{
	border-radius: 0;
    padding: 4px 0 4px 8px !important;
    background: none;
    box-shadow: none;
    border-color: #e1e1e1;
}
.admin-color-fresh .select2-container-active .select2-choice, 
.admin-color-fresh .select2-container-active .select2-choice, 
.admin-color-fresh .select2-dropdown-open.select2-drop-above .select2-choice {
	border-color: #e1e1e1;
}

.appearance_page__options .select2-search input {
    background-image: url(../images/zoom.png) !important;
    background-position: calc(100% - 5px) 50% !important;
    background-size: 12px !important;
}

input.readonly, input[readonly], textarea.readonly, textarea[readonly] {
    background: #fff;
}


.redux-container .redux-field .select2-choice .select2-arrow{
	width: 30px;
	background: #f0f0f0;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTk5LjEsMjUuM2MtMS4xLTEuMS0yLjgtMS4xLTQuMSwwTDUwLDY4LjdMNSwyNS4zYy0xLjEtMS4xLTIuOC0xLjEtNC4xLDBDMC4zLDI1LjgsMCwyNi42LDAsMjcuM2MwLDAuOCwwLjMsMS41LDAuOCwyLjFsNDcsNDUuNGMwLjQsMC40LDEsMC44LDIsMC44YzAuNiwwLDEuMi0wLjIsMS44LTAuNmwwLjEtMC4xbDQ3LjEtNDUuNWMwLjYtMC41LDEtMS4zLDEtMi4xQzk5LjksMjYuNiw5OS42LDI1LjgsOTkuMSwyNS4zeiIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
	border-left: none;
	border-radius: 0;
	border-right: none !important;
}
.redux-container .redux-field .select2-dropdown-open .select2-choice .select2-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTk4LjcsNzAuNkw1MiwyNS4zYy0xLjEtMS4xLTIuOS0xLTQsMEwxLjEsNzAuNmMtMC41LDAuNS0wLjgsMS4yLTAuOSwyYzAsMC44LDAuMywxLjUsMC45LDIuMWMwLjYsMC42LDEuMywwLjksMiwwLjljMC43LDAsMS41LTAuMywyLTAuOUw1MCwzMS40bDQ0LjgsNDMuMmMwLjksMC45LDIuNCwxLjEsMy45LDBsMC4xLTAuMWMwLjUtMC41LDAuOC0xLjMsMC44LTJDOTkuNyw3MS44LDk5LjMsNzEuMSw5OC43LDcwLjZ6Ii8+PC9zdmc+);
}

.redux-container .redux-field .select2-choice .select2-arrow b, .select2-search-choice-close{
	background: none !important;
}

.redux-container .select2-container .select2-choice abbr {
    right:  36px;
    top: 50%;
    transform:  translateY(-50%);
    line-height: 1;
    background: none;
    height: 6px;
}
.redux-container .select2-container .select2-choice abbr:before {
    content: '';
    background: url('data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI1IiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMjUgMzIiPgo8dGl0bGU+Y3Jvc3M8L3RpdGxlPgo8cGF0aCBkPSJNMjEuOTMzIDIxLjU1M2MwLjI5IDAuMjkgMC4yOSAwLjc2NSAwIDEuMDU1bC0wLjYxNiAwLjYxNmMtMC4yOSAwLjI5LTAuNzY1IDAuMjktMS4wNTUgMGwtMTcuMzI0LTE3LjMyNGMtMC4yOS0wLjI5LTAuMjktMC43NjUgMC0xLjA1NWwwLjYxNi0wLjYxNmMwLjI5LTAuMjkgMC43NjUtMC4yOSAxLjA1NSAwbDE3LjMyNCAxNy4zMjR6TTQuNjEgMjMuMjI0Yy0wLjI5IDAuMjktMC43NjUgMC4yOS0xLjA1NSAwbC0wLjYxNi0wLjYxNmMtMC4yOS0wLjI5LTAuMjktMC43NjUgMC0xLjA1NWwxNy4zMjQtMTcuMzI0YzAuMjktMC4yOSAwLjc2NS0wLjI5IDEuMDU1IDBsMC42MTYgMC42MTZjMC4yOSAwLjI5IDAuMjkgMC43NjUgMCAxLjA1NWwtMTcuMzI0IDE3LjMyNHoiPjwvcGF0aD4KPC9zdmc+Cg==');
    width: 10px;
    height: 10px;
    display: block;
    margin-top: -2px;
	background-repeat: no-repeat;
    background-size: 10px;
}

.redux-container .select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right:  50px;
}

.redux-container .select2-container .select2-choice > .select2-chosen {
    margin-right:  38px;
}


.admin-color-fresh .select2-results .select2-result,
.wp-customizer .select2-results .select2-result {
    color:  #888;
}
.admin-color-fresh .select2-results .select2-highlighted, 
.wp-customizer .select2-results .select2-highlighted {
    background:  transparent;
    color:  #222;
}

/* switch */

.admin-color-fresh .redux-container .redux-container-switch .cb-enable.selected, 
.admin-color-fresh .redux-container .redux-field-container .ui-buttonset .ui-state-active, .wp-customizer .redux-container-switch .cb-enable.selected, .wp-customizer .redux-field-container .ui-buttonset .ui-state-active {
    background: #2699d4 !important;
    border-color: #2699d4 !important;
}

.redux-container .redux-container-switch .cb-enable span, 
.redux-container .redux-container-switch .cb-disable span {
    font-weight: normal;
}

/* image_select */
.redux-container-image_select .redux-image-select img, .redux-container-image_select .redux-image-select-selected img, .redux-container-image_select .redux-image-select .tiles, .redux-container-image_select .redux-image-select-selected .tiles {
    border-width: 2px;
    padding: 3px;
    border-color: #e1e1e1;
}

.redux-container-image_select .redux-image-select li img {
    margin: 0 5px 5px 5px;
}

.admin-color-fresh .redux-container-image_select .redux-image-select-selected img, .wp-customizer .redux-container-image_select .redux-image-select-selected img {
    border-color: #2699d4;
}

.redux-container .redux-container-image_select .redux-image-select-selected {
    background-color: transparent;
}

/* fix css just for header type images */
[data-id=header_type] ul.redux-image-select li {
    width: 100%;
}

/* switch */
.admin-color-fresh .redux-container .redux-container-switch .cb-enable, 
.admin-color-fresh .redux-container .redux-container-switch .cb-disable {
    border-radius: 0;
    box-shadow: none !important;
}

/* typography */
.redux-main .redux-typography-container .input_wrapper input {
    box-shadow: none;
}
.redux-container .redux-main .redux-typography-container .input_wrapper input.mini,
.redux-container .redux-main .input-append .add-on, .redux-container .redux-main .input-prepend .add-on {
    border-radius: 0;
}

.redux-main .redux-typography-container .wp-picker-container {
    padding-left: 0;
}

.redux-main .wp-picker-open+.wp-picker-input-wrap {
    white-space: nowrap;
}

.redux-main .redux-typography-container .wp-picker-open+.wp-picker-input-wrap label {
    margin: 0 !important;
}